<div class="controlPanelMainDiv">
  <div class="toolsDiv">
    <button [routerLink]="['/controlPanel/addClient']">Add new Client</button>
    <label>Search</label>
      <input type="text" name="search" [(ngModel)]="searchString">
  </div>

  <table>
    <thead>
    <th>id</th>
    <th>email</th>
    <th>first name</th>
    <th>last name</th>
    <th>birth date</th>
    <th>phone number</th>
    <th>industry</th>
    <th>subcategory</th>
    <th>delete</th>
    </thead>
    <tbody>
    <tr *ngFor="let client of clients | filter:searchString | paginate: { itemsPerPage: 5, currentPage: p}">
      <td>{{client.id}}</td>
      <td>{{client.email}}</td>
      <td>{{client.clientInfo.firstName}}</td>
      <td>{{client.clientInfo.lastName}}</td>
      <td>{{client.clientInfo.birthDay}}</td>
      <td>{{client.clientInfo.telephoneNumber}}</td>
      <td>{{client.clientInfo.industry}}</td>
      <td>{{client.clientInfo.subCategory}}</td>
      <td><button (click)="deleteClient(client)">Delete client</button></td>
    </tr>
    </tbody>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </table>
</div>
